<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GHUnitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OilPurchase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4103A2A419378BD9000E5BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4103A2BA19378BD9000E5BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4103A2DD19379015000E5BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4103A2F319379015000E5BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>418420071936CCDB00423404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>418420281936CCDB00423404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
